.App {
  font-family: Courier, monospace, sans-serif;
  text-align: center;
  background-color: #cccccc;
  padding-bottom: 10px;
  margin-top: 15px;
}

h1 {
  background-color: whitesmoke;
  text-align: center;
  border: 2px dashed gray;
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  font-family: Courier, monospace, sans-serif;
}

.list {
  text-align: left;
}
